body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
hr{
    width:500px;
}
#board{
    width:400px;
    height:400px;
    position: relative;
    background-color: #cdc1b5;
    border: 6px solid #bbada0;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
}
.arkeys{
    height: 140px;
    position: absolute;
    left: 100px;top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
   background-color:#eee4da;
   padding: 24px;
   border: 8px solid #bbada0;
}
.arkeys div{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 120px;
    height: 25px;
}
.arkeys div p{
    text-align: center;
    color: #727371;
    font-weight: bold;
}
.tile{
    width:90px;
    height:90px;
    border:5px solid #bbada0;

    font-size:40px;
    font-weight:bold;
    display:flex;
    justify-content: center;
    align-items:center;
}

.x2{
    background-color:#eee4da;
    color:#727371;
}

.x4{
    background-color:#ece0ca;
    color:#727371;
}
.x8{
    background-color:#f4b17a;
    color:white;
}
.x16{
    background-color: #f59575;
    color:white;
}
.x32{
    background-color:#f57c5f;
    color:white;
}
.x64{
    background-color:#f65d3b;
    color:#727371;
}
.x128{
    background-color:#edce71;
    color:#727371;
}
.x256{
    background-color:#edcc63;
    color:#727371;
}
.x512{
    background-color:#edc651;
    color:#727371;
}
.x1024{
    background-color:#eee744;
    color:#727371;
}
.x2048{
    background-color:#ecc230;
    color:#727371;
}
.x4096{
    background-color:#fe3d3d;
    color:#727371;
}
.x8192{
    background-color:#ff2020;
    color:#727371;
}